/*--------------CONG. GERAIS---------------*/
*{
     margin: 0;
     padding: 0;
}
body{
     background-color: black;
     color: white;
}

/*-------------- BARRA DE NAVEGAÇÃO -------*/

.navbar{
     background-color: black;
     
}

.img-link img{
     height: 8vh;
     margin: 0vh 2vw;
}

.navbar-link{
     color: rgb(0, 0, 0);
     font-size: 1.8rem;
}

.navbar-link:hover{
     color: #ffffff;
}

.nav-link {
  position: relative;
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 1vh;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link::after,
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #1100ff, #00ffff);
  left: 0;
  transform: scaleX(0);
  transition: transform 0.4s ease-out;
}

.nav-link::after {
  bottom: -5px;
  transform-origin: right;
}

.nav-link::before {
  top: -5px;
  transform-origin: left;
}

.nav-link:hover::after,
.nav-link:hover::before {
  transform: scaleX(1);
}

/*------------------- HOME ---------------*/


.text-home{
     align-items: center;
     align-content: center;
     padding: 2vh;
     text-align: center;
}

.img-home{
     height: 8vh;
}

.perfil-home{
     display: block;
     align-content: center;
     margin: 5vh;
}

.perfil-home {
    width: 55vh;
    animation: flutuar 3s ease-in-out infinite;
    filter:
        drop-shadow(0 0 8px #1100ff)
        drop-shadow(0 0 10px #00ffff)
        drop-shadow(0 0 15px #1100ff);
}

@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0);
    }
}

#home{
     height: 100vh;
     margin: 10vh 0vw;
}

.direita{
     margin: -8vh 8vw;
}

.img-home{
     padding: 1vh;
     height: 10vh;
     filter:
        drop-shadow(0 0 3px #1100ff)
        drop-shadow(0 0 2px #00ffff)
        drop-shadow(0 0 1px #1100ff);
}

.button-home{
     margin: 2vh 0.5vw;
     background-color: black;
     border-radius: 20px;
     color: white;
     padding: 1vh 2vh;
     border: 1px solid #ffffff;
     filter:
        drop-shadow(0 0 6px #1100ff)
        drop-shadow(0 0 2px #00ffff)
        drop-shadow(0 0 1px #1100ff);
}

.button-home:hover {
     background: #1100ff;
     
}

#typing {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ffffff;
    border-right: 3px solid #00ffff;
    padding-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% { border-color: transparent; }
    50% { border-color: #0400ff; }
    100% { border-color: transparent; }
}

.text-home h2{
     font-size: 5rem;
}

.text-home h1{
     font-size: 2rem;
     text-align: left;
     padding: 0vh 10vw;
}