/*--------------CONG. GERAIS---------------*/
*{
     margin: 0;
     padding: 0;
}
body{
     background-color: black;
     color: white;
}


/*-------------- BARRA DE NAVEGAÇÃO -------*/

.img-link img{
     height: 10vh;
}

.perfil-home{
     height: 60vh;
     display: block;
}

.img-home {
     height: 10vh;
}