.nav-link {
    position: relative;
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    padding: 5px 0;
}

/* linhas */
.nav-link::before,
.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background: linear-gradient(to right, #ff0000, #00ffff);
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

/* linha de cima */
.nav-link::before {
    top: 0;
    transform-origin: left;
}

/* linha de baixo */
.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

/* hover */
.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}
